# Database
DATABASE_URL="mongodb+srv://admin_mongoDB:Nn7PmHMhUNdjnkot@cluster0.p5hqiac.mongodb.net/todocompra?appName=Cluster0"

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="7d"

# Other
BCRYPT_ROUNDS=12
